:root {
	--clr--primary: #121212;
	--clr--secondary: #242424;
	--clr--neutral: rgb(229, 229, 229);
	--clr--accent: #363636;
	--clr--muted: #6c757d;
}
* {
	box-sizing: border-box;
}
body {
	background-color: var(--clr--primary);
}
img {
	width: 100%;
}
.App {
	min-height: 100vh;
	color: var(--clr--neutral);
}
.logo {
	width: 10em;
}
nav {
	padding: 3em;
	background-color: var(--clr--secondary);
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	justify-content: space-around;
	align-items: center;
}
@media only screen and (min-width: 501px) {
	nav {
		flex-direction: row;
	}
}
.btn-upload-model {
	padding: 0.5em;
	border-radius: 6px;
	background-color: var(--clr--primary);
	color: var(--clr--neutral);
	border: 1px solid var(--clr--neutral);
	font-size: 1rem;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	padding: 1em;
}
.btn-upload-model:hover {
	background-color: var(--clr--accent);
}
main {
	background-color: var(--clr--primary);
	max-width: 750px;
	margin: 0 auto;
	padding: 1em;
	border: 1px solid var(--clr--accent);
}

.card {
	background-color: var(--clr--accent);
	padding: 1em;
	margin-bottom: 1em;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	position: relative;
}

.card:hover {
	background-color: var(--clr--secondary);
}
.model {
	background-color: var(--clr--accent);
	height: 600px;
	width: 100%;
}

.close-model-icon {
	margin: 2em 0 0 2em;
	transform: scale(2.5);
	cursor: pointer;
}
.arrow-icon {
	transform: scale(1.2);
	position: absolute;
	top: 30%;
	right: 2%;
}
